html {
	height: 100%;
	background-color: #dfdfdf;
}

body {
	height: 100%;
}

h1 {
	text-align: center;
	font-size: 50px;
}

img {
	max-width: 100%;
	height: 100px;
	width: 100px;
	padding-bottom: 20px;
	padding-top: 30px;
	padding-left: 40px;
}
 
pre {
	font-family: serif;
}

.bigText {
	margin-left: 250px;
	margin-top: 50px;
	margin-right: 45px;
	font-weight: bold;
	font-size: 35px;
}

.credits {
	text-align: center;
	font-size: 13px;
	padding: 2px;
}

.menuBorder {
	box-sizing: border-box;
	width: 200px;
	height: 615px;
	border: 5px solid;
	float: left;
	background-color: #a77464;
}

.linkBorder {
	box-sizing: border-box;
	width: 160px;
	height: 270px;
	border: 5px solid;
	margin-left: 15px;
	margin-top: 10px;
}

.creditBorder {
	box-sizing: border-box;
	border: 5px solid;
	width: 130px;
	margin-left: 33px;
	margin-top: 20px;
}

.bottomBorderLine {
	box-sizing: border-box;
	height: 150px;
	border-bottom: 5px solid;
}

.heroInfoBulletList {
	padding-left: 220px;
	font-size: 30px;
}

.heroImgs {
	height: 100px;
	width: 100px;
	float: left;
}

.firstColumnBullets {
	float: left;
	padding-left: 75px;
	padding-right: 200px
}

.secondColumnBullets {
	float: right;
	padding-left: 75px;
	padding-right: 200px;
	/* padding-bottom: 350px; */
}

/* Being used to hold color palette */
h2 {
	color: #343434;
	color: #2f3061;
	color: #a77464;
	color: #5b8266;
	color: #dfdfdf;
}
