#center {
    text-align: center;
}

#bigBorder {
    box-sizing: border-box;
    width: 200px;
    height: 600px;
    border: 5px solid;
    float: left;
}

#smallBorder {
    box-sizing: border-box;
    width: 160px;
    height: 270px;
    border: 5px solid;
    margin-left: 15px;
    margin-top: 10px;
}

#bottomBorderLine {
    box-sizing: border-box;
    height: 150px;
    border-bottom: 5px solid;
}

#image {
    height: 100px;
    width: 100px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
}